@tailwind base;
@tailwind components;
@tailwind utilities;  


@font-face {
    font-family: 'sfpro';
    src: url('/public/sf-pro-display/SFPRODISPLAYBLACKITALIC.OTF') format('truetype');
    font-weight: 900; /* Black weight is typically 900 */
    font-style: italic;
}

.fontest{
    font-family: 'sfpro';
    font-weight: 900;
    font-style: italic;
}


@keyframes enter-animation {
    0% {
      transform: translateY(300px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .image-animation {
      animation: enter-animation 0.5s 1 ease-in-out; 
    }
  }